*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right,rgba(8,8,12,0.98),rgba(0,0,0,0.86),rgba(0,0,0,0.81),rgba(0,0,0,0.77)) fixed;
}

button {
    height: 25px;
    width: 70px;
    color: gray;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    color: black;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 42px;
    color: silver;
    text-shadow: 5px 2px 2px black;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.create-textarea-container, .change-textarea-container {
    display: flex;
    flex-direction: column;
}

.create-textarea, .change-textarea {
    width: 330px;
    height: 200px;
    font-size: 18px;
    box-shadow: 5px 5px 5px white ;
    border-radius: 8px;
}

.notes-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgba(130,131,132,0.77);
    position: fixed;
    top: 20px;
    width: 160px;
    left: 20px;
    bottom: 20px;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 8px;
    overflow-y: auto;
}

.noteContainer {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.note {
    cursor: pointer;
    width: 100%;
    padding: 20px;
    height: 60px;
    background-color: rgba(130,131,132,0.77);
    border: 1px solid black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 8px;
    box-shadow: 1px 1px 1px black;
}
.note:hover{
    background-color: silver;
}
.buttonDelete{
    height: 25px;
    width: 70px;
    color: gray;
    border-radius: 6px;
    background-color: silver;
    color: black;
    box-shadow: 1px 1px 1px black;
}
.buttonDelete:hover{
    background-color: white;
}